.shift {
  position: relative;
  margin-top: 75px
}
.btn {
  background-color: #5f5e24;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn:hover {
    color: white;
    background: #e2dd54;
    border-color: #e8e357;
}
.btn:focus {
    color: white;
    background: #e2dd54;
    border-color: #e8e357;
}